
<div class="progress-wrapper" ng-hide="!workingHours">
  <div class="progress-timer">
    {{ timer | millSecondsToTimeString }}
  </div>
  <round-progress max="max" current="progress" color="{{color}}" bgcolor="#eaeaea" radius="400" stroke="40" ng-show="workingHours"></round-progress>
</div>
<div class="container">
  <div class="col-sm-2 col-sm-offset-5 text-center">
    <h2>
      <select ng-model="selectedDept" class="form-control" ng-options="dept.settings.name for dept in departments" ng-change="loadTimer()"></select>
    </h2>
    <h2>{{ currentTime | date:'mediumTime' }}</h2>
    <h3>{{ startTime | date:'shortTime' }}</h3>
    <h3>{{ endTime | date:'shortTime' }}</h3>
    <h3>{{ message }}</h3>
  </div>
</div>

